.mainBlock {
    //flex: 1 1 auto;
    flex: 0 0 50.7%;
    position: relative;
    z-index: 2;

    //margin-right: 20px;

    display: flex;
    justify-content: center;


    @media (max-width: 1023.98px) {
        flex: 0 0 100%;
        justify-content: none;
        margin-right: 0;
    }
}

.body {}

.logo {
    display: block;
    width: 106px;
    height: 24px;
    margin-bottom: 80px;

    img {
        display: block;
        max-width: 100%;
        max-height: 100%;
    }
}

.title {
    font-size: 44px;
    font-weight: 500;
    margin-bottom: 10px;
}

.text {
    color: #8C8C8C;
    font-size: 20px;

    &:not(:last-child) {
        margin-bottom: 60px;
    }
}

.boldText {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}