.container {
    height: 100%;

    &>* {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}

.topBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}


.uploadBtn {
    font-size: 12px;
    letter-spacing: 2px;

    span {
        font-size: 16px;
        font-weight: 600;
        margin-right: 10px;
        letter-spacing: 0;
    }
}


.showmoreBtn {
    display: block;
    margin: 0 auto;
}